---
import { Icon } from "astro-icon/components";

type Project = {
  title: string;
  description: string;
  skills: {
    icon: string;
    name: string;
    iconify?: string;
  }[];
  image: string;
  link: string;
};

const projects = [
  {
    title: "Araby AI",
    description:
      "Responsible for the development and maintenance of the Araby AI platform. Tasked to create, maintain, and improve new and existing features and tools in the platform.",
    skills: [
      { name: "Next.js", icon: "nextjs" },
      { name: "React", icon: "react" },
      { name: "Tailwind", icon: "tailwindcss" },
      { name: "Vite", icon: "vite" },
      { name: "TypeScript", icon: "typescript" },
      { name: "AWS", icon: "amazonwebservices" },
      { name: "Python", icon: "python" },
      { name: "Docker", icon: "docker" },
      { name: "Stripe", icon: "stripe", iconify: "simple-icons:stripe" },
      { name: "Node.js", icon: "nodejs" },
      { name: "Express", icon: "express", iconify: "simple-icons:express" },
      { name: "MongoDB", icon: "mongodb" },
      { name: "Socket.io", icon: "socketdotio" },
      { name: "Redis", icon: "redis" },
      { name: "Figma", icon: "figma" },
      { name: "Postman", icon: "postman" },
    ],
    image: "/assets/projects/araby_ai.png",
    link: "https://araby.ai",
  },
  {
    title: "Angels on High - Website",
    description:
      "Responsible for creating and maintaining the Angels on High platform as a whole. Created the main site, user dashboard for teachers, students, and parents, as well as the admin dashboard for managing the platform.",
    skills: [
      { name: "Next.js", icon: "nextjs" },
      { name: "React", icon: "react" },
      { name: "TypeScript", icon: "typescript" },
      { name: "Drizzle", icon: "drizzle", iconify: "simple-icons:drizzle" },
      { name: "PostgreSQL", icon: "postgresql" },
      {
        name: "Backblaze",
        icon: "backblaze",
        iconify: "simple-icons:backblaze",
      },
      { name: "Heroku", icon: "heroku", iconify: "simple-icons:heroku" },
      { name: "Docker", icon: "docker" },
    ],
    image: "/assets/projects/angelsonhigh.png",
    link: "https://angels-on-high.vercel.app/",
  },
  {
    title: "AvatarLabs - Website",
    description:
      "Responsible for creating and maintaining the AvatarLabs landing site, as well as the admin dashboard for managing the application.",
    skills: [
      { name: "React", icon: "react" },
      { name: "Vite", icon: "vite" },
      { name: "TypeScript", icon: "typescript" },
      { name: "Tailwind", icon: "tailwindcss" },
      { name: "Astro", icon: "astro" },
    ],
    image: "/assets/projects/avatarlabs.png",
    link: "https://avatarlabs.araby.ai",
  },
  {
    title: "Abdul Latif Jameel AI",
    description:
      "Responsible for creating the website and admin dashboard for Araby AI's client, Abdul Latif Jameel. Tasked to create a competition site where users can create and submit AI images for a chance to win prizes.",
    skills: [
      { name: "React", icon: "react" },
      { name: "Vite", icon: "vite" },
      { name: "TypeScript", icon: "typescript" },
      { name: "Tailwind", icon: "tailwindcss" },
      { name: "Next.js", icon: "nextjs" },
      { name: "AWS", icon: "amazonwebservices" },
    ],
    image: "/assets/projects/aljf_ai.png",
    link: "https://aljf.rvamp.com",
  },
  {
    title: "Boncafé - Backend API",
    description:
      "Responsible for creating the backend API for Boncafé's mobile application. Was also tasked to integrate the API with the mobile application.",
    skills: [
      { name: "Node.js", icon: "nodejs" },
      { name: "Express", icon: "express", iconify: "simple-icons:express" },
      { name: "PostgreSQL", icon: "postgresql" },
      { name: "Heroku", icon: "heroku" },
      { name: "Kotlin", icon: "kotlin" },
    ],
    image: "/assets/projects/boncafe.PNG",
    link: "https://www.boncafeme.ae/",
  },
] as Project[];
---

<!-- Initially hidden -->
<div
  class="w-full hidden flex-col rounded-lg outline-2 px-2 gap-2"
  id="projects">
  <h2 class="md:text-3xl text-2xl font-bold md:text-start text-center">
    Projects
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      projects.map(({ title, description, skills, image, link }) => (
        <a
          href={link}
          target={link ? "_blank" : "_self"}
          rel="noopener noreferrer"
          class="flex flex-col gap-4 mb-4">
          <img
            src={image}
            alt={title}
            class="object-contain w-full h-40 rounded-lg"
          />

          <div class="flex flex-col gap-2">
            <h3 class="text-lg font-semibold">{title}</h3>
            <p class="text-base">{description}</p>

            <div class="flex flex-wrap gap-2">
              {skills.map(({ name, icon, iconify }) => (
                <div class="flex items-center gap-1">
                  {!iconify ? (
                    <i class={`devicon-${icon}-plain text-2xl`} />
                  ) : (
                    <Icon name={iconify} class="text-2xl" />
                  )}
                  <p class="text-sm">{name}</p>
                </div>
              ))}
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>
