---
import type { ExperienceItem } from "./types";

interface Props {
  experience: ExperienceItem;
  isStart?: boolean;
  isEnd?: boolean;
}

const { experience, isStart, isEnd } = Astro.props as Props;

const {
  title,
  sub,
  company,
  description,
  logo,
  link,
  startDate,
  endDate,
  ongoing,
} = experience;

const descList = Array.isArray(description)
  ? description
  : typeof description === "string"
    ? [description]
    : [];

const formattedStart = new Date(startDate).toLocaleDateString("en-US", {
  month: "short",
  year: "numeric",
});

const formattedEnd = ongoing
  ? "Present"
  : new Date(endDate).toLocaleDateString("en-US", {
      month: "short",
      year: "numeric",
    });
---

<div class="flex gap-4 items-stretch">
  <div class="relative h-full md:block hidden">
    <div
      class="w-2 h-2 bg-slate-300 rounded-full absolute top-2 left-1/2 -translate-x-1/2">
    </div>
    <div
      class:list={[
        "w-[2px] bg-slate-300 h-full",
        isStart && "mt-2",
        isEnd && "mb-10",
      ]}>
    </div>
  </div>

  <div class="flex flex-col gap-2 mb-4">
    <div class="flex gap-2 flex-row items-center">
      {
        logo && !link && (
          <img src={logo} alt={company} class="w-12 h-12 object-cover" />
        )
      }
      {
        logo && link && (
          <a href={link} target="_blank" rel="noopener noreferrer">
            <img src={logo} alt={company} class="w-12 h-12 object-cover" />
          </a>
        )
      }

      <div class="flex flex-col">
        <h4
          class="text-lg font-semibold flex sm:flex-row flex-col sm:gap-1 flex-wrap">
          <span>{title}</span>
          <span class="sm:block hidden">@</span>
          {
            link && (
              <a
                href={link}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline">
                {company}
              </a>
            )
          }
          {!link && <span>{company}</span>}
        </h4>

        <p class="text-sm text-slate-200 hidden sm:flex gap-1 flex-wrap">
          <span>{sub}</span>
          <span>{" | "}</span>
          <span>
            {formattedStart}
            {" - "}
            {formattedEnd}
          </span>
        </p>
      </div>
    </div>

    <p class="text-sm text-slate-200 flex sm:hidden gap-1 flex-wrap">
      <span>{sub}</span>
      <span>{" | "}</span>
      <span>
        {formattedStart}
        {" - "}
        {formattedEnd}
      </span>
    </p>

    <ul class="list-disc list-outside flex flex-col gap-1 ms-4">
      {descList.map((desc, index) => <li class="text-base">{desc}</li>)}
    </ul>
  </div>
</div>
